@charset "utf-8";
@font-face{
    font-family: myfont;
    src:url('../fonts/fontawesome-webfont.woff2');
}
$totalw:100%;
$wrap:1210px;
$acolor:#554;
$size:12px;
html,body{
    width: $totalw;
    font-size: $size;
}
i,em{
    font-style: normal;
}
a{
    color: #333;
}
.wrap{
    width: $wrap;
    margin: 0 auto;
}
.clear:after{
    clear: both;
    content: "";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden
}
.section{
    background: #f2f2f2;
}
.left{
    float: left;
}
.right{
    float: right;
}
a{
    text-decoration: none;
}
#floor {
    width: 35px;
    position: fixed;
    top: 30%;
    left: 50%;
    margin-left: -650px;
    border: 1px solid #ddd;
    z-index: 99999;
}
    
#floor ul li {
    width: 35px;
    height: 32px;
    border-bottom: 1px dotted #DDDDDD;
    list-style: none;
    font-size: 12px;
    text-align: center;
    position: relative;
    cursor: pointer;
    padding: 10px 0;
    background: #918888;
    color: #fff;
}
    
#floor ul li span {
    width: 35px;
    height: 32px;
    padding: 10px 0;
    position: absolute;
    top: 0;
    left: 0;
}

#floor ul li.last {
    background: #5e4a4a;
    color: #fff;
    border-bottom: 1px solid #ddd;
}

#floor ul li.active span {
    background: #c00;
    color: #fff;
    display: block;
}

#floor ul li:hover span {
    background: #c00;
    color: #fff;
    display: block;
}
@import "top";
@import "nav";
@import "section";
@import "section1seckill";
@import "section2";
@import "section3";
@import "section4";
@import "footer";
@import "details";
@import "cart";
@import "registor";
@import "login";
