@charset "utf-8";
@font-face{
    font-family: myfont;
    src:url('../fonts/fontawesome-webfont.woff2');
}
$totalw:100%;
$wrap:1210px;
$acolor:#554;
$size:12px;
body{
    width: $totalw;
    font-size: $size;
}
i,em{
    font-style: normal;
}
a{
    color: #333;
}
.wrap{
    width: $wrap;
    margin: 0 auto;
}
.clear:after{
    clear: both;
    content: "";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden
}
.section{
    background: #f2f2f2;
}
.left{
    float: left;
}
.right{
    float: right;
}
a{
    text-decoration: none;
}
@import "top";
@import "nav";
@import "section";
@import "section1seckill";
@import "section2";
@import "section3";
@import "section4";
@import "footer";
@import "details";
@import "cart";
@import "registor";
@import "login";
